.cabecalho {
    
background: rgba(56, 56, 201, 0.534);
border: 1px solid;
text-align: center;

}
.navegacao {

    background: rgba(56, 56, 201, 0.534);
    border: 1px solid;
    text-align: center;

}